@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}